*I {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
}
.one{
    z-index: 2;
    font-size: 40px;
    text-align: center;
}
h2{
    text-align: center;
}
#logo {
    
    padding: 20px 0px 0px 50px;
}
.top{
    position: sticky;
    display: flex;
    flex-direction: row;
    background-color: white;
}
ul>li>a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}
ul {
    align-items: flex-end
    }

li{
    display: inline;
}
a{
    display: inline-block;
    padding: 8px;
}
a:hover{
    color: blue;
}
.dev{
    padding: 10px;
}
.top{
    height: 100px;
}

.heading{
    font-weight: bolder;
    display: flex;
    height: 500px;
    background-size: cover;
    background-repeat: none;
    background-image: url("./wok.webp");
    background-attachment: fixed;
    font-size: 35px;
    justify-content: center;
    align-items: center;
    opacity: 0.5;
    z-index: -2;
}

.about{
    width: 800px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    box-shadow: 0px 1px 10px -2px rgba(0, 0, 0, 0.2);
    padding: 100px 0px 0px 200px; 
}
.work{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-items: center;
    width: 800px;
    padding-left: 150px;
}
.work>div{
    background-color: white;
    width: 250px;
    box-shadow: 0px 1px 10px -2px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    overflow: hidden;
}
.step:hover{
    opacity: 0.5;
    background-color: black;
    transform: scale(1.2);

}
.service{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 200px;
    width: 800px;
    justify-content: center;
}
.service>div{
    display: flex;
    flex-direction: row;
    width:250px;
    align-items: center;
    justify-content: center;
}
.bottom{
    display: flex;
    flex-direction: column;
    height: 300px;
    background-color: red;
    justify-content: center;
    align-items: center;
    color: white;
}
button{
    background-color:white ;
    color: red;
    border-color: red;
    height: 50px;
}
.copy{
    padding: 30px 0px 10px 50px;
    float: left;
}
.add{
    float: right;
}
